.coin_container{
    width: 95vw;
    height: 100px;
}

.red{
    color: red;
}

.green{
    color:green;
}

.coin_row{
    display: flex;
    align-items: center;
}

.coin_img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.coin{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.coin_data{
    display: flex;
    width: 50%;
    justify-content: space-between;
}